.header img{
    height: 80px;
}

.header{
    text-align: center;
}

.header nav{
    height: 40px;
    background:rgb(64, 65, 65);
    line-height: 40px;
}

.header nav a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin-right: 30px;
    padding: 0 14px;
    display: inline-block;
    transition:  all linear .3s;
}

.header nav a:last-child{
    margin-right: 0;
}

.header nav a:hover{
    background: gray
}